@model MidTermNetCore.Models.SinhVien

@{
    ViewData["Title"] = "Delete";
}


<h3>Bạn có chắc chắn muốn xóa sinh viên này không ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Họ tên
        </dt>
        <dd class = "col-sm-10">
            @Model.HoTen
        </dd>
        <dt class = "col-sm-2">
            Ngày sinh
        </dt>
        <dd class = "col-sm-10">
            @Model.NgaySinh.ToString("dd-MM-yyyy")
        </dd>
        <dt class = "col-sm-2">
            Số điện thoại
        </dt>
        <dd class = "col-sm-10">
            @Model.DienThoai
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaSV" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở về</a>
    </form>
</div>
